Repository codespell-project/codespell, pull requests merged in 2020-06, with the labels that each got.

#1533 Correctly ignore hidden files in directories. Closes #1531
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: bug

#1543 Add several misspell words
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1547 Add analouge->analogue, driagram->diagram and friend
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1546 Improve the exclude-file help
  codespell_lib/_codespell.py
Labels: enhancement

#1545 Dog meet food
  .github/workflows/codespell.yml
Labels: enhancement

#1550 Ignore the .git folder
  .github/workflows/codespell.yml
Labels: enhancement

#1544 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1448 Add several spelling corrections
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#1572 Add tabualtor->tabulator and friends
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1561 Add several misspell words
  codespell_lib/data/dictionary.txt
Labels: dictionary
