Repository codespell-project/codespell, pull requests merged in 2021-12, with the labels that each got.

#2182 Add corrections for escalate and variants.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2186 Add various spelling correction variants for "upgrade".
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2178 Misspelling: undelying
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2177 Misspelling: unadvertedly
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2173 Loock
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2181 Misspelling: oberve / obeseserve variations
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2187 Move `hist` from rare to code
  codespell_lib/data/dictionary_code.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2179 Misspelling: variations on standari[sz]e
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2171 More misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2180 A few more mispellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2166 Misspelling: obseravtions
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2174 Add more variations of simialr
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2162 Fix several spelling corrections + refinements
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2167 More misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2184 Move 'compliancy' into dictionary_rare.
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2097 Add dosclosure->disclosure
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2009 Add snd->send, and, to code dictionary
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2200 No need for Travis CI stuff
  tools/travis_tools.sh
Labels: enhancement

#2201 add a variation of "infrastructure"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2204 Add / update spelling corrections for destination(s)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2188 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2136 Add several spelling corrections and refinement
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2102 Add spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1986 Fix typos from jupyter/jupyter#558
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1978 Add typos and variants from w3c/silver#248
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2206 More misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2203 More misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1975 Typos from salsa.debian.org/lintian/lintian
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2164 Misspelling: assymptotically
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2202 More misspellings: encaspulated and friends
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2193 More misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2205 Add spelling corrections for downgrade and variants.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2169 Add some typos seen in the wild.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2209 Resubmitting #1927
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2208 Add typos and variants MicrosoftDocs/Virtualization-Documentation
  codespell_lib/data/dictionary.txt
Labels: awaiting review

#2213 Move nmake to code as it's a Microsoft compiler
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2070 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2192 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2199 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary
