Repository codespell-project/codespell, pull requests merged in 2021-09, with the labels that each got.

#1999 adds terraform misspellings to dictionary
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1983 Add a few entries
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2057 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2061 Fix a couple trailing spaces
  .github/workflows/codespell-private.yml
Labels: enhancement

#2072 Add excaped->escaped
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2067 Improve the definition of the "rare" builtin dictionary
  codespell_lib/_codespell.py
Labels: enhancement

#2077 Fix spelling in snap config
  snap/snapcraft.yaml
Labels: bug

#2066 chmod -x
  codespell_lib/_codespell.py
Labels: enhancement

#2073 Update `TrueBrain/actions-flake8` github action to v2
  .github/workflows/codespell-private.yml
Labels: enhancement

#2080 Add mispellings->misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary
