Repository codespell-project/codespell, pull requests merged in 2022-11, with the labels that each got.

#2576 decelaration could be deceleration
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2085 Fix Deepsource issues
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
  codespell_lib/tests/test_dictionary.py
Labels: enhancement

#2380 Replace list()/dict() with literals
  codespell_lib/_codespell.py
Labels: duplicate

#2572 Add a spelling correction
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2550 Add a few spelling corrections
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2582 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2379 Document support for Python versions in pyproject.toml
  pyproject.toml
Labels: enhancement

#2603 Move "upto" to code dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2600 Move sudo-like command name "doas" to code dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2590 enthapl(ies|y)->enthalp(ies|y)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2594 Add componoent(s)->component(s)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2614 Move "spawnve" to code dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2615 Move "MSDOS" to code dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2575 Added informal words
  codespell_lib/data/dictionary_informal.txt
Labels: dictionary

#2597 {assymthotic, assymtotic}->asymptotic
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2595 PEP 517
  MANIFEST.in
  Makefile
  bin/codespell
Labels: enhancement, packaging
