Repository codespell-project/codespell, pull requests merged in 2022-01, with the labels that each got.

#2176 Another "sensitive" misspelling
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2207 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary, awaiting review

#2172 Add several spelling corrections
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_informal.txt
Labels: dictionary

#2210 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2219 Add 'typdef->typedef'
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2215 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2220 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2231 Add selet->select
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2191 Add variants of existing entry
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2247 More misspellings
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: awaiting review

#2248 Add more quest variants
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2240 Add caluse->clause to dictionary.txt
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2249 Add variants
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2241 Add spelling corrections of characters
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2236 Add various Underflow / Overflow spelling corrections.
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2238 Add more misspelled words
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2233 Add several spelling corrections
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary
