Repository codespell-project/codespell, pull requests merged in 2022-10, with the labels that each got.

#2518 Add regresison->regression
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2515 DOC: Better docs
  .github/workflows/codespell-private.yml
  README.rst
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: enhancement

#2520 Fix build_exclude_hashes fails: UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 2244: character maps to <undefined>
  codespell_lib/_codespell.py
Labels: enhancement

#2514 Add alternative for 'bu'
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2195 Fix uncaught exception on empty files
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: enhancement

#2531 Misspelling of sufficient, sufficiently
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2527 insuffient->insufficient
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2511 Move falsy and accreting to more appropriate files
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2525 Add subtrate->substrate
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2512 interepolation->interpolation
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2361 Ignore .mypy_cache folder
  .gitignore
Labels: enhancement

#2542 Add relative hidden directory and basic subdir tests
  codespell_lib/tests/test_basic.py
Labels: enhancement

#2553 Add virtualied->virtualized, virtualised and friends
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2521 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2561 Fix produce typo
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2566 Add a few corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2159 Handle bad globs passed to if --skip/-S
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: bug, awaiting review

#2545 Read config file without interpolation
  codespell_lib/_codespell.py
Labels: bug, awaiting review

#2570 Add andriod->android and friends
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2577 Add total type GB to US
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
Labels: dictionary

#2568 Catch all cases of missing pytest
  Makefile
Labels: packaging
