Repository codespell-project/codespell, pull requests merged in 2022-09, with the labels that each got.

#2223 Capitalize all suggested fixes
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: bug, dictionary

#2484 Add several spelling corrections and refinements
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2493 Add `knowladge->knowledge`
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2492 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2422 Change "circularly" to "circulary".
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2496 Use `grep -E` instead of `egrep`
  Makefile
Labels: enhancement

#2495 move `warmup` to code dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2494 downoload->download and friends
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2490 Add some alternative line endings and whitespace checks
  codespell_lib/tests/test_basic.py
Labels: enhancement

#2498 Add spelling correction
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2401 'analyses' is the plural of 'analysis'
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
Labels: dictionary
