Repository codespell-project/codespell, pull requests merged in 2023-11, with the labels that each got.

#3188 Add Gelma's typos from "t" to "z"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3197 Dict update
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3200 Improve existing suggestions
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3213 Ignore ill-formed INI files instead of crashing
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
  pyproject.toml
Labels: bug

#3218 don't show stacktrace from KeyboardInterrupt #3217
  codespell_lib/__main__.py
Labels: enhancement

#3215 Adding 'hareware' to spelling corrections.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3222 Add typos for knownledge->knowledge, analyzis->analysis and compialtion->compilation
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3224 Add --stdin-single-line option
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: enhancement

#3230 Add spelling corrections for parameters
  codespell_lib/data/dictionary.txt
Labels: dictionary

#1889 Ignore line endings in exclude-file
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: enhancement

#3232 Add typo offsers
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3231 chore(license): update to use spdx id
  pyproject.toml
Labels: enhancement
