Repository codespell-project/codespell, pull requests merged in 2023-08, with the labels that each got.

#2986 Simpler dictionary parsing
  codespell_lib/_codespell.py
Labels: enhancement

#2991 Add suffixes to typos that start with "ap"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2994 Half dozen new cases in `dictionary.txt`
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2992 Add suffixes to typos that start with "ar"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2997 Add suffixes to typos that start with "as"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2998 Add suffixes to typos from "at" to "ay"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2999 Add suffixes to typos from "ba" to "be"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2978 Add preperint typo
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3001 Add some typos found in a large documentation repo
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3002 Add suffixes to typos from "bi" to "bu"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3003 Add suffixes to typos that start with "ca"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3004 Add some misspellings and refinements
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3006 Add typo variations of background(s)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3005 Add more typos for "check" and similar
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2990 ...ter → ...tor
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3008 Add suffixes to typos from "ce" to "ci"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2983 Remove the grave accent (`) from the default word regex
  codespell_lib/_codespell.py
  codespell_lib/data/dictionary.txt
  codespell_lib/tests/test_basic.py
Labels: enhancement

#3009 Add suffixes to typos from "cl" to "col"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2985 Generate alternative typos with a translation table
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: enhancement

#2969 Remove redundant linting CI workflows handled by pre-commit.ci
  .github/workflows/black.yml
  .github/workflows/codespell-private.yml
  .github/workflows/mypy.yml
  .github/workflows/ruff.yml
Labels: enhancement

#3012 Add suffixes to typos that start with "com"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3018 Add spelling correction for information and variant.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3016 Add fram->frame and friend
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3007 Add typo variations of 'dispatch'
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3013 Add more typos for "configure" and similar
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3023 Add suffixes to typos from "cona" to "conr"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3025 Add suffixes to typos from "cons" to "conv"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3026 Add more typos for "correspond" and similar
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3024 Adding articifial to artificial to `dictionary.txt`
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3030 Move the valid word implementor in rare dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3031 Typos from tcpdump and libpcap
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3029 Add suffixes to typos from "coo" to "coy"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3032 Add suffixes to typos from "cp" to "cy"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3042 [pre-commit.ci] fix new ruff issue
  codespell_lib/tests/test_basic.py
Labels: bug

#3039 Add suffixes to typos from "des" to "dev"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3040 Add suffixes to typos that start with "di"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3043 Add suffixes to typos from "do" to "dy"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3048 Add suffixes to typos from "ea" to "en"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3049 Add suffixes to typos from "ep" to "exe"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3050 Add suffixes to typos from "exi" to "exu"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#3035 Update dictionary.txt
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3052 Add suffixes to typos that start with "f"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3054 Additions to `dictionary.txt`
  codespell_lib/data/dictionary.txt
Labels: dictionary
