Repository codespell-project/codespell, pull requests merged in 2023-04, with the labels that each got.

#2818 Add gadjet->gadget and friend
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2825 Add mandess->madness
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2834 Fix new ruff errors reported by CI
  codespell_lib/tests/test_basic.py
  codespell_lib/tests/test_dictionary.py
Labels: awaiting review

#2836 Add fusipn->fusion
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2830 Add 'endpdoint' as a misspelling of 'endpoint'
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2837 Friends of existing typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2838 Fix 66ec667
  codespell_lib/tests/test_dictionary.py
Labels: bug

#2827 equivallent and friends
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2842 Add delpoys->deploys
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2841 Added variations on 'difference'
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2831 Add 'canoncical->canonical'
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2835 Add additional typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2845 Add 'requestor->requester'
  codespell_lib/data/dictionary.txt
Labels: dictionary
