Repository codespell-project/codespell, pull requests merged in 2023-07, with the labels that each got.

#2911 Add suffixes to typos from "cop" to "cy"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2909 Add spelling corrections for upperace and lowerace.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2907 Add suffixes to typos from "ci" to "con"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2904 Add variations of 'check'
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2913 Add suffixes to typos that start with "de"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2914 Add suffixes to typos from "di" to "dy"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2915 Add suffixes to typos that start with "e"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2916 Add suffixes to typos that start with "f"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2919 Add typos for "general", "generate", "generic"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2917 Move `dateset` to code
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2910 Add correction for "distict"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2908 Add several spelling corrections
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2921 Add new suggestions for existing typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2922 Add suffixes to typos that start with "g" or "h"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2903 Dev Container
  .devcontainer/devcontainer.json
  .devcontainer/post_create.sh
Labels: enhancement

#2927 Add postifx->postfix to code dictionary
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2930 Add openes->opens, openness, to dictionary
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2924 Add suffixes to typos from "ib" to "im"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2892 Add indepentend->independent
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2926 Add several spelling corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2923 feat: Add collogue->colleague to dictionary
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2883 Typos from OpenSSL 3.0
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2931 Add suffixes to typos from "ip" to "k"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2925 Add suffixes to typos that start with "in"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2932 Add typos discovered in django/deps repository
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2610 Add some archaic terms for Muslim to dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_usage.txt
Labels: dictionary

#2748 Add words from misspell's dictionary (A-1)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2941 Add typo fix: reacord->record
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2937 Add suffixes to typos that start with "m"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2939 Add suffixes to typos that start with "n"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2940 Add suffixes to typos that start with "o"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2943 Improve existing suggestions
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2946 Add vulnerabily->vulnerably, vulnerability, spelling correction.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2944 Add suffixes to typos from "pa" to "pl"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2945 Add suffixes to typos from "po" to "pu"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2933 Allow words missing from aspell dictionaries
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
  codespell_lib/tests/data/en_GB-additionnal.wordlist
  codespell_lib/tests/data/en_US-additionnal.wordlist
  codespell_lib/tests/test_dictionary.py
Labels: enhancement, dictionary

#2371 Add journalling->journaling to GB->EN dict
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
  codespell_lib/tests/data/en_GB-additionnal.wordlist
  codespell_lib/tests/data/en_US-additionnal.wordlist
Labels: dictionary

#2947 Use large aspell dictionaries
  codespell_lib/tests/test_dictionary.py
Labels: enhancement, awaiting review

#2964 Drop support for Python 3.7
  .github/workflows/codespell-private.yml
  .github/workflows/codespell-windows.yml
  .github/workflows/mypy.yml
  README.rst
  pyproject.toml
Labels: enhancement, packaging

#2965 Add suffixes to typos that start with "t"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2966 Add suffixes to typos that start with "u"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2970 Add suffixes to typos that start with "v"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2971 Add suffixes to typos from "w" to "z"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2972 Add some new misspellings
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2975 Add spelling corrections for defaoult and variants.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2976 Fix the name of the extra word lists we load
  codespell_lib/tests/data/en_GB-additional.wordlist
  codespell_lib/tests/data/en_US-additional.wordlist
  codespell_lib/tests/test_dictionary.py
Labels: bug

#2974 Add suffixes to typos from "aa" to "acc"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2987 Add suffixes to typos from "ace" to "ad"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2988 Add suffixes to typos from "af" to "al"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2980 Dictionary fixes
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2989 Add suffixes to typos from "am" to "an"
  codespell_lib/data/dictionary.txt
Labels: dictionary
