Repository codespell-project/codespell, pull requests merged in 2023-01, with the labels that each got.

#2653 Add fixes from travis (Closes #1312)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2646 Most of `MANIFEST.in` is obsolete, get rid of it
  MANIFEST.in
  Makefile
  pyproject.toml
Labels: awaiting review, packaging

#2676 Use f-strings wherever possible
  codespell_lib/_codespell.py
Labels: enhancement

#2694 usable / useable: force recommended spelling
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2684 Typos from marvin.cs.uidaho.edu: T
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2697 Add "inable"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2698 Add outoing->outgoing
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2680 Typos from marvin.cs.uidaho.edu: R
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2198 Rehabilitate extraversion
  codespell_lib/data/dictionary.txt
Labels: dictionary, awaiting review

#2708 move `pullrequest` to code dictionary
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#2711 Add respwan -> respawn and related words
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2712 Add various spelling corrections for words containing "meant"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2715 Improve support of TOML config files
  codespell_lib/_codespell.py
Labels: bug, enhancement
