Repository codespell-project/codespell, pull requests merged in 2023-10, with the labels that each got.

#3117 Add miscellaneous typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3126 fix: aesthetic(s) should be kept as is
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
Labels: dictionary

#3128 Add more labour* variants
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
Labels: dictionary

#3135 Add additional spelling corrections for prior and variant.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3157 Return exit status in __main__.py
  codespell_lib/__main__.py
Labels: bug

#3158 Fix ruff alerts (currently) not caught by pre-commit
  codespell_lib/_codespell.py
  codespell_lib/tests/test_dictionary.py
Labels: enhancement

#3150 Add Gelma's typos that start with "a"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3163 Add Gelma's typos from "b" to "cl"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3173 Add some academies typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3167 Add Gelma's typos from "co" to "cy"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3168 Add Gelma's typos that start with "d"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3174 Add Gelma's typos that start with "e"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3175 Add Gelma's typos from "f" to "h"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3178 Add alwats->always correction.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3019 Add obsloete->obsolete and friend
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3179 Add entries to rare dictionary
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3183 diagional -> diagonal
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3180 Add Gelma's typos from "j" to "m"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3182 Add Gelma's typos from "n" to "o"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3185 Add corrections for vulnerbailit(y|ies)->vulnerabilit(y|ies).
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3184 Add Gelma's typos that start with "p"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3186 Add Gelma's typos from "q" to "r"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3194 openign->opening
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3187 Add Gelma's typos that start with "s"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3195 Add spelling corrections for evaluate
  codespell_lib/data/dictionary.txt
Labels: dictionary
