Repository codespell-project/codespell, pull requests merged in 2023-03, with the labels that each got.

#2763 Add a spelling correction
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2751 doc: tomli is not needed for Python >= 3.11
  README.rst
Labels: awaiting review

#2770 Add spelling correction for vulnderabilit(y|ies)->vulnerabilit(y|ies)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2777 Add fixing consciousely typo
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2782 atalog typo (saw twice in a project)
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2779 Replace bandit, isort, pylint, pyupgrade, and flake8 plus plugins with ruff
  .github/workflows/codespell-private.yml
  .github/workflows/isort.yml
  .github/workflows/ruff.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Labels: enhancement

#2795 Add various typo fixes
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2761 Fix typo (and variants) from xxHash
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2804 Add tweek(s)->tweak(s) correction
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2806 Add supoort->support
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2805 Add Suggestion For `readded` Mispelling
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#2808 Add displaing->displaying
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2810 Another suggestion for stati
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2813 Add dimaond -> diamond
  codespell_lib/data/dictionary.txt
Labels: dictionary

#2815 Add vai->via, vie
  codespell_lib/data/dictionary.txt
Labels: dictionary
