Repository codespell-project/codespell, pull requests merged in 2023-12, with the labels that each got.

#3237 Materials science related corrections
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3239 Add spelling corrections for vulnerability and variant.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3241 add velcoity -> velocity
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3242 black → ruff format
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies

#3247 ot is a typo also for it, which i is close to o
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3255 Add spelling correction for miltiple and variant.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3251 Collection of typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3263 Add carrets->carets
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3259 Add support for ANSI colors on Windows
  codespell_lib/_codespell.py
Labels: enhancement
