Repository codespell-project/codespell, pull requests merged in 2023-09, with the labels that each got.

#3055 Add suffixes to typos from "id" to "inh"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3056 Add more typos for "initialize" and similar
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3059 Add suffixes to typos from "ini" to "it"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3060 Add suffixes to typos from "j" to "l"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3062 Add refinement to 'draing' typo
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3063 Add suffixes to typos from "ma" to "me"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3064 Add suffixes to typos from "mi" to "mu"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3057 Add more variations of "except" and "exempt"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3067 Add spelling correction for "exis".
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3070 Add followiing->following
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3068 Add suffixes to typos that start with "n"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3069 Add suffixes to typos that start with "o"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3071 Add suffixes to typos that start with "pa"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3073 Add suffixes to typos from "pe" to "po"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3022 Get rid of typos with apostrophe replaced by semicolon
  codespell_lib/data/dictionary.txt
  codespell_lib/tests/test_dictionary.py
Labels: bug, dictionary

#3075 Add suffixes to typos from "pr" to "pu"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3076 Add handlong->handling
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3077 Add suffixes to typos from "q" to "rec"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3079 Add various typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3081 Add suffixes to typos from "red" to "rep"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3083 Add suffixes to typos from "req" to "ru"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3082 Dictionary additions
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3084 Add suffixes to typos from "sa" to "se"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3089 Add correction for havne't->haven't
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3086 Add suffixes to typos from "sh" to "so"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3087 Add suffixes to typos from "sp" to "st"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3090 Add suffixes to typos from "su" to "sy"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3092 Add suffixes to typos from "ta" to "th"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3094 Add suffixes to typos from "ti" to "ty"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3095 Add suffixes to typos that start with "u"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3096 Add suffixes to typos from "v" to "z"
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3021 many new typos from different repositories
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3101 More typos
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3102 Use f-strings wherever possible
  codespell_lib/_codespell.py
Labels: enhancement
