Repository codespell-project/codespell, pull requests merged in 2024-01, with the labels that each got.

#3265 Apply Repo-Review suggestions
  codespell_lib/__init__.py
  codespell_lib/_codespell.py
  pyproject.toml
Labels: packaging

#3273 dictionary: pathes can be patches
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3279 Fixed #3278
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3282 dictionnary: persan can be persian.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3281 Add validaiton->validation, valuation
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3280 Updated dictionary for #2411
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3289 dict: falt can be fault or flat
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3287 Add acquistion->acquisition
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3269 Add tox.ini file
  tox.ini
Labels: enhancement

#3298 Fixed #3297
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3294 Enable lists in TOML config file
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: enhancement

#3162 Fix ruff alerts (currently) not caught by pre-commit
  .github/workflows/codespell-private.yml
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
  codespell_lib/tests/test_dictionary.py
  pyproject.toml
Labels: enhancement

#3302 Fixed #3301
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3295 Materials science related corrections 2
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3304 Add spelling corrections for sphere
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3308 quanitization -> quantization
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3309 instroment->instrument
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3310 Add updadated->updated and uneared->unearned
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3343 initiase -> initialise
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3347 Adding correction for furance->furnace
  codespell_lib/data/dictionary.txt
Labels: dictionary
