Repository codespell-project/codespell, pull requests merged in 2024-06, with the labels that each got.

#3438 Add `equipmnet->equipment`
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3435 Set better project description
  pyproject.toml
Labels: enhancement, packaging

#3058 Additional en-GB → en-US entries
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
  codespell_lib/tests/data/en_GB-additional.wordlist
  codespell_lib/tests/data/en_US-additional.wordlist
Labels: dictionary

#3440 Consistent error messages
  codespell_lib/_codespell.py
  pyproject.toml
Labels: enhancement

#3441 Add 'driven' as 'drivin' variant
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3439 More typos
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_en-GB_to_en-US.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3445 Add reusing misspelling and variants
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3447 Add typos found in Emacs and elsewhere
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3448 Add typos found in GNU Guile
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3453 Add corrections from Aspell (fix #3356)
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
  codespell_lib/data/dictionary_usage.txt
Labels: dictionary

#3456 Add entries to dictionary_informal.txt
  codespell_lib/data/dictionary_informal.txt
Labels: dictionary

#3460 Add rare typo `lien->line`
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3459 Add rare typo `firs->first`
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3461 Add rare typo `hep->heap, help,`
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3450 Add corrections from `typos` dictionary (A1)
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3464 Add timestmp->timestamp and its variations
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3466 Add .venv to .gitignore
  .gitignore
Labels: enhancement

#3344 Only accept documented choices after `-i` and `-q`
  codespell_lib/_codespell.py
  codespell_lib/tests/test_basic.py
Labels: bug

#3469 Move assertIn to the code dictionary as it's a Python test function
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#3468 Add some more typos
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3471 Add some typos from Emacs
  codespell_lib/data/dictionary.txt
  codespell_lib/data/dictionary_code.txt
  codespell_lib/data/dictionary_rare.txt
Labels: dictionary

#3467 Add variations for words starting with `non-`
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3478 Update "Using a config file" README entry
  README.rst
Labels: enhancement

#3252 Add two choices for verision typo fix
  codespell_lib/data/dictionary.txt
Labels: dictionary
