Repository codespell-project/codespell, pull requests merged in 2025-02, with the labels that each got.

#3635 numbes->numbers and numbesr->numbers
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3622 Add spelling corrections for disclose and variables.
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3633 Remove lets->let's
  codespell_lib/data/dictionary_code.txt
Labels: dictionary

#3636 Add corrections for "dictate"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3639 Add specicification (and pl) typo
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3510 Remove "blueish" correction
  codespell_lib/data/dictionary_usage.txt
Labels: dictionary

#3648 Add "lighting" as an option to fix "lighning"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3645 "ane" could have been "one"
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3621 Several new suggestions
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3652 Add proposal constraints to containts
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3654 Use raw strings for regex
  codespell_lib/_codespell.py
Labels: enhancement

#3653 Allow multiple spaces before codespell:ignore
  codespell_lib/_codespell.py
Labels: bug

#3656 Added correction from `timeour` to `timeout`
  codespell_lib/data/dictionary.txt
Labels: dictionary

#3640 Add typos found in various software projects
  codespell_lib/data/dictionary.txt
Labels: dictionary
